@font-face {
  font-family: Inter;
  src: url(../../../fonts/Inter-Regular.ttf);
}
.tariffCards {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 50px;
  font-family: Inter;
}

.tariffCards__card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  width: 31%;
}

.card__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.tariffCards__card_beginner {
  background-color: #ffb64f;
}

.tariffCards__card_pro {
  background-color: #7ce3e1;
}

.tariffCards__card_business {
  background-color: #3b3b4d;
  color: white;
}

.aim {
  margin-right: 15px;
  margin-bottom: -26px;
}

.lamp {
  margin-top: 12px;
  margin-right: 30px;
}

.laptop {
  margin-top: 20px;
}

.card__body {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 15px 10px 30px 30px;
  border-radius: 10px;
}

.card__body_beginner {
  margin: auto;
  margin: 2px 2px 1px 2px;
}

.card__body_business {
  color: black;
}

.card__title {
  font-family: Inter;
  margin-left: 25px;
  margin-top: 15px;
}

.card__actual-tariff {
  align-self: flex-end;
  background-color: #3ba5e0;
  border-radius: 10px;
  font-size: 14px;
  line-height: 17px;
  color: white;
  padding: 5px 10px;
}

.card__old-price {
  opacity: 50%;
  text-decoration: line-through;
  margin-left: 25px;
}

.card__price-explanation {
  margin-bottom: 0px 0 35px 0px;
}

.card__list {
  margin-top: 40px;
}

.card__list_bissnes {
  margin-top: 65px;
}

.card__list-item {
  list-style-image: url(./True.svg);
  margin-top: 5px;
}

.card__btn {
  width: 95%;
  height: 59px;
  border-radius: 5px;
  border: none;
  background-color: #5970ff;
  color: white;
  font-size: 20px;
  margin-top: 35px;
}

.card__btn:hover {
  background-color: #6179c2;
}

.btn_active {
  width: 95%;
  height: 59px;
  border-radius: 5px;
  border: none;
  background-color: #d2d2d2;
  font-size: 20;
  margin-top: 35px;
}

.btn_active:hover {
  background-color: gainsboro;
}

@media screen and (max-width: 1150px) {
  .tariffCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
    gap: 30px;
  }

  .tariffCards__card {
    width: 335px;
  }
}
